<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
            <th>SKU number</th>
            <th>SKU name</th>
            <th>Status</th>
            <th>Quantity</th>
            <th>Unit of measure</th>
            <th>Material cost (per unit)</th>
            <th>Labour cost (per unit)</th>
            <th>Production date</th>
            <th>Expiry date</th>
            <th>Sell/ notes</th>
        </tr>
    </thead>
    <tbody>
        <% inventories.forEach(function(i, index) { %>
            <tr>
                <td><%= i.SKUNumber %></td>
                <td><%= i.SKUName %></td>
                <td><%= i.status %></td>
                <td><%= i.quantity %></td>
                <td><%= i.measureUnit %></td>    
                <td>$ <%= materialCostPerUnit[index].toFixed(2) %></td>
                <td>$ <%= costOfLabour[index].toFixed(2) %></td>
                <td><% if (i.productionDate) { %>
                    <%= i.productionDate.toLocaleDateString("en-GB") %>
                    <% } %>
                </td>
                <td><% if (i.expiryDate) { %>
                    <%= i.expiryDate.toLocaleDateString("en-GB") %>
                    <% } %>
                </td>
                <td><a href='/finished/<%= i._id %>'>Action</a></td>
            </tr>
        <% }) %>
    </tbody>
</table>


<%- include('../partials/footer') %>