<%- include('../partials/header') %>

<div class='links'><a class='button' href='/finished/<%= inventory._id %>/sales/new'>Sell the product</a></div>

<h4>Add a note:</h4>
<form class='notes-form' action='/finished/<%= inventory._id %>' method='POST'>
    <label>Note:
        <textarea name='note'></textarea>
    </label>
    <input type='submit' value='Add/replace a note'>
</form>

<% if (inventory.note) { %>
<table class='notes-table'>
    <thead>
        <tr>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= inventory.note %></td>
        </tr>
    </tbody>
</table>
<% } else { %>
    <h4>No notes</h4>
  <% } %>

<%- include('../partials/footer') %>