<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
            <th>SKU name</th>
            <th>Revenue</th>
            <th>Units sold</th>
            <th>Revenue per unit</th>
            <th>Cost of materials (per unit)</th>
            <th>Cost of labour (per unit)</th>
            <th>Profit</th>
        </tr>
    </thead>
    <tbody>
        <% financials.forEach(function(f, index) { %>
            <tr>
                <td><%= f.SKUName %></td>
                <td>$ <%= revenue[index] %></td>
                <td><%= f.salesQuantity %></td>    
                <td>$ <%= avgRevUnit[index] %></td>
                <td>$ <%= f.materialCost.toFixed(2) %></td>
                <td>$ <%= costOfLabour[index].toFixed(2) %></td>
                <td>$ <%= profit[index].toFixed(2) %></td>
            </tr>
        <% }) %>
</table>


<%- include('../partials/footer') %>