<%- include('../partials/header') %>

<div class='container-md'>
    <div class="row">
        <div class="col-md-4">
            <form action='/finished' method='POST'>
                
                <h4>Step 1: Select the food or drink you are making:</h4>

                <div class="row">
                    <label class="form-label col-form-label-sm">SKU name:
                        <select name="SKUName" id="SKUNameRecipe" class="form-select form-select-sm">
                            <% recipes.forEach(function(r) { %>
                            <option value='<%= r.SKUName %>'><%= r.SKUName %></option>
                            <% }) %>
                        </select>
                    </label>
                </div>

                <div class="row">
                    <label class="form-label col-form-label-sm">SKU number:
                        <select name='SKUNumber' class="form-select form-select-sm">
                            <option id='SKUNumberRecipe'></option>
                        </select>
                    </label>
                </div>

                <div class="row">
                    <label class="form-label col-form-label-sm">Yields:
                        <select name='quantity' class="form-select form-select-sm">
                            <option id="yieldsRecipe"></option>
                        </select>
                    </label>
                </div>

                <div class="row">
                    <label class="form-label col-form-label-sm">Unit of measure:
                        <select name='measureUnit' class="form-select form-select-sm">
                            <option value='pieces'>pieces</option>
                        </select>
                    </label>
                </div>
    
                <div class="row">
                    <label class="form-label col-form-label-sm">Cost of materials ($):
                        <select name='materialCost' class="form-select form-select-sm">
                            <option id='materialCost'></option>
                        </select>
                    </label>
                </div>

                <div class="row">
                    <p class='font-change'>Ingredients</p>
                    <ul class="form-label col-form-label-sm" id='ingredients'>
                    </ul>
                </div>
        </div>

            <div class="col-md-4">
                <h4>Step 2: Include the employee time spent:</h4>

                <div class="row">
                    <label class="form-label col-form-label-sm">Employee level:
                        <select name='employeeLevel' id='employeeLevel' class="form-select form-select-sm">
                            <% employees.forEach(function(e) { %>
                            <option value='<%= e.employeeLevel %>'><%= e.employeeLevel %></option>
                            <% }) %>
                        </select>
                    </label>
                </div>

                <div class="row">
                    <label class="form-label col-form-label-sm">Hourly wage:
                        <select name='hourlyWage' class="form-select form-select-sm">
                            <option id='hourlyWage'></option>
                        </select>
                    </label>
                </div>
    
                <div class="row">
                    <label class="form-label col-form-label-sm">Time spent (minutes):
                        <input type='number' name='timeSpent' class="form-control form-control-sm">
                    </label>
                </div>
            </div>

            <div class="col-md-4">
                <h4>Step 3: Add production and expiry dates:</h4>
    
                <div class="row">
                    <label class="form-label col-form-label-sm">Status:
                        <select name='status' class="form-select form-select-sm">
                            <option value='finished product'>Finished product</option>
                            <option value='raw material'>Raw material</option>
                        </select>
                    </label>
                </div>
    
                <div class="row">
                    <label class="form-label col-form-label-sm">Production date:
                        <input type='date' name='productionDate' class="form-control form-control-sm">
                    </label>
                </div>
    
                <div class="row">
                    <label class="form-label col-form-label-sm">Expiry date:
                        <input type='date' name='expiryDate' class="form-control form-control-sm">
                    </label>
                </div>
            </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="flex-container"> 
                <input type='submit' value='Make food/drink' class='button'>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
            </form>
        </div>
    </div>
</div>


<script>const recipes = <%- JSON.stringify(recipes) %></script>
<script>const employees = <%- JSON.stringify(employees) %></script>
<script>const inventories = <%- JSON.stringify(inventories) %></script>
<script src="/javascripts/menuform.js"></script>

<%- include('../partials/footer') %>